@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

@theme {
  --color-dark-navy: #00102B;
  --color-primary-blue: #0052BD;
  --color-light-blue-accent: #88BCFF;
  --color-secondary: #515C6E;
  --color-nordiska-blue: #134663;
  --color-nordiska-orange: #EDA91B;
  --color-login-bg: #0F3644;

  --font-montserrat-alternates: "Montserrat Alternates", sans-serif; 
  --font-montserrat: "Montserrat", sans-serif; 

}

@utility nav-link {
  position: relative;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  transition: all 0.2s ease;
  white-space: nowrap;
}

@utility nav-link::after {
  content: "";
  position: absolute;
  bottom: 16px;
  left: 50%;
  transform: translateX(-50%) scaleX(0);
  transform-origin: center;
  width: 32px;
  height: 2px;
  background: #bfa48c;
  transition: transform 0.2s ease;
}

@utility nav-link:hover::after {
  transform: translateX(-50%) scaleX(1);
}